/* Constants */
:root {
  --color-blue: #80d9ff;
  --color-purple: #9973e6;
}

body {
  background-color: #080808;
  height: 100vh;
  margin: 0rem;
  overflow: hidden;
}

h1 {
  color: white;
  font-size: 5rem;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

#glow {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, var(--color-blue), var(--color-purple));
  animation: rotate 20s infinite;
  opacity: 1;
  z-index: -2;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(14vmax);
}

.main {
  margin: 0;
  padding: 0 20%;
}

/* NAV BAR */
nav {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent dark background */
  backdrop-filter: blur(10px); /* Apply a blur effect */
  overflow: hidden;
  display: flex; /* Use flexbox */
  justify-content: flex-end;
  align-items: center; /* Center items vertically */
  padding: 20px 50px; /* 10px top/bottom padding, 30px left/right padding */
}
nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
nav li {
  display: inline;
  margin-right: 20px;
  /* Add rounded white box */
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  transition: background-color 0.5s;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav li:hover {
  background-color: white; /* Full white background on hover */
}

.border {
  position: relative;
}

.border:hover::before {
  content: "";
  position: absolute;
  inset: -4px;
  border-radius: 11px;
  border: 4px solid transparent;
  background: linear-gradient(45deg, var(--color-blue), var(--color-purple)) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  transition: webkit-mask 0.3s;
}

nav a:hover li {
  color: #222; /* Change text color on hover */
  transition: color 0.1s; /* Add transition for text color change */
}
